.inventory-legacy-page {
  padding: 12px;

  .box {
    background: #fff;
    border: 1px solid #dfe3e9;
    border-radius: 3px;
    margin-bottom: 12px;
  }

  table th {
    white-space: nowrap;
  }
}
